This notebook explains your workshop assignment. Here are few rules;

- Please do not change the original dataset *"ford_models_UK.csv"* file. Do not delete, add, or modify any entry. Simply keep it as it is.


- Use this Jupyter file to make your submission. If the question requires a text answer, enter it in the same text block with the question. Click on the question cell to activate the text option 


- If question is about coding, enter your code into the block right after the question. Your code must be in a single code block.


- In question where you should produce a figure, I already created those figures and add them in figures folder. I referred to those files in the corresponsing questions. Make sure you produce the same figures.


- Do not delete the questions or comments in the notebook.


- Once you are done, name your file as **name_surname** and click to the link below to submit your Jupyter notebook. Make your submission before the deadline set by Data Science Initiative. You are welcome to use any resources.



- [SUBMISSION LINK](https://forms.gle/PJqqrmVebgdK8QA87)

You will work on a dataset including some used Ford models sold in UK. Full dataset is [here](https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes/discussion/209170). I created a smaller version of it. Let's read it and see what we have;

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('new_ford.csv')
df

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,Fiesta,2017,Automatic,15944,Petrol,150,57.7,1.0,12000.0
1,Focus,2018,Manual,9083,Petrol,150,57.7,1.0,14000.0
2,Focus,2017,Manual,12456,Petrol,150,57.7,1.0,13000.0
3,Fiesta,2019,Manual,10460,Petrol,145,40.3,1.5,17500.0
4,Fiesta,2019,Automatic,1482,Petrol,145,48.7,1.0,16500.0
...,...,...,...,...,...,...,...,...,...
16062,EcoSport,2015,Manual,46123,Petrol,125,53.3,1.0,7650.0
16063,C-MAX,2019,Manual,13359,Petrol,145,48.7,1.0,13250.0
16064,C-MAX,2016,Manual,35637,Diesel,20,68.9,1.5,9299.0
16065,Fiesta,2016,Manual,31348,Petrol,125,54.3,1.2,7999.0
16066,Focus,2015,Manual,7010,Diesel,20,67.3,1.6,9999.0

Explanation of the columns is as follows;

**model**: several makes avaliable in UK market. There are 7 models in this data \
**year**: the production year of the car  \
**price**: price in terms of paund \
**tranmission**: transmission type. Automatic, manual or semi-auto. \
**milage**: total distance travalled \
**fuelType**: type of fuel used, five types.\
**tax**: road tax(offically Vehicle Excise Duty (VED)). This is annual tax which must be paid by most vehicles. \
**mpg**: the distance, measured in miles, that a car can travel per gallon of fuel. Numbers are too high here due to some conversion issues I guess, assume that they are correct. \
**engineSiz**e: the amount of space (volume) in the cylinders. \

## General Questions

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16067 entries, 0 to 16066
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         16067 non-null  object
 1   year          16067 non-null  int64
 2   transmission  16064 non-null  object
 3   mileage       16067 non-null  int64
 4   fuelType      16064 non-null  object
 5   tax           16067 non-null  int64
 6   mpg           16067 non-null  float64
 7   engineSize    16067 non-null  float64
 8   price         16063 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 1.1+ MB

Answer the following question based on the ouput above \

    - How many rows and columns are there in this dataset? \

    - Which columns have numerical values? Which columns have categorical values? \

In [6]:
df.describe(include = 'all')

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
count,16067,16067.000000,16064,16067.000000,16064,16067.000000,16067.000000,16067.000000,16063.000000
unique,7,NaN,3,NaN,4,NaN,NaN,NaN,NaN
top,Fiesta,NaN,Manual,NaN,Petrol,NaN,NaN,NaN,NaN
freq,6538,NaN,14156,NaN,11389,NaN,NaN,NaN,NaN
mean,NaN,2016.938445,NaN,22867.599552,NaN,112.647663,58.549742,1.314969,11998.046442
std,NaN,1.985446,NaN,19158.927566,NaN,61.238600,9.997252,0.374376,4142.455815
min,NaN,1998.000000,NaN,1.000000,NaN,0.000000,26.300000,1.000000,495.000000
25%,NaN,2016.000000,NaN,9862.000000,NaN,30.000000,53.300000,1.000000,9000.000000
50%,NaN,2017.000000,NaN,17693.000000,NaN,145.000000,58.900000,1.200000,11140.000000
75%,NaN,2018.000000,NaN,30289.000000,NaN,145.000000,65.700000,1.500000,14982.500000
max,NaN,2060.000000,NaN,177644.000000,NaN,555.000000,201.800000,5.000000,54995.000000

- Answer the following questions based on the table above;

    - What are the most common fuel type and most common model type? \

    - What are the most expensive and cheapest car prices? \

    - Do you spot any strange value in the production year column? Explain \

    - As we see above, std for price col is 4140 pounds. Explain what this means. \

## Qualitative Questions

    - 0.Display all rows between row2 and row6 inclusive.

    - 1.Display the information of all Fiesta models.

    - 2.Display the two rows that include the most expensive and the cheapest cars? Hint: idxmax/idmin

    - 3.Display all the rows of Focus cars with Diesel fuel type?

    - 4.Display all the rows of Automatic cars having price cheaper then 20K pounds and more expensive than 18K pounds

    - 5.Using "groupby"  and "value_counts(normalize=True)" to display the percentage distribution of car models in terms of transmission. Your output must look like as follows. What percentage of Focus cars are manual? What percentage of Mondeo cars is Semi-Auto?



        model     transmission

        C-MAX     Manual          0.852126
                  Automatic       0.085028
                  Semi-Auto       0.062847
        EcoSport  Manual          0.866079
                  Semi-Auto       0.080176
                  Automatic       0.053744
        Fiesta    Manual          0.927960
                  Semi-Auto       0.044050
                  Automatic       0.027990
        Focus     Manual          0.874590
                  Automatic       0.090671
                  Semi-Auto       0.034739
        Ka+       Manual          1.000000
        Kuga      Manual          0.784975
                  Automatic       0.119208
                  Semi-Auto       0.095816
        Mondeo    Manual          0.707457
                  Automatic       0.227533
                  Semi-Auto       0.065010
        Name: transmission, dtype: float64

In [ ]:
#5 comes here

    - 6.Using "groupby" command, display the percentage distribution of "transmission" type in terms of fuelType. Your output must look like as follows;

        transmission  fuelType

        Automatic     Petrol      0.642463
                      Diesel      0.339154
                      Hybrid      0.017463
                      Other       0.000919
        Manual        Petrol      0.719867
                      Diesel      0.280133
        Semi-Auto     Petrol      0.609280
                      Diesel      0.388278
                      Hybrid      0.002442
        Name: fuelType, dtype: float64

In [ ]:
#6 comes here

    - 7.Using "groupby" command, display the mean prices of each model. Your output must look like as follows;


        model
        C-MAX        9914.567219
        EcoSport    12498.653744
        Fiesta      10194.046825
        Focus       13184.996504
        Ka+          8694.261860
        Kuga        15821.564103
        Mondeo      12305.927342
        Name: price, dtype: float64

In [ ]:
#7 comes here

    - 8. As you see from "decribe" command above, there is a car with production year 2060! If we assume, it is not coming from the future, this data is wrong. The code below finds and display that row. Now you have it, replace that 2060 with 2001.

In [5]:
df[df['year']==2060]

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
15869,Fiesta,2060,Automatic,54807,Petrol,205,42.8,1.4,6495.0

In [ ]:
#8 comes here

    - 9.Production year is not not much useful. Create a new column named **age** using the "year" column. You should basically subtract  each entry in "year" column from 2022 to create *age* column. Use df.head() at the end to make sure that you actually created "age" column.

In [ ]:
#9 comes here

## Missing Values

- In this section, you will handle missing values. If the missing value is categorical, replace them with the category having the highest count(this is called mode). If the missing value is numerical replace them with the *median* value of the corresponding column.

    - 1. Write the command which displays how many missing values in each column. Clearly write down how many missing values we have in each category. Then fill out the code cells below to handle every each of these categories.

In [ ]:
#1 comes here

In [ ]:
#handle tranmission

In [ ]:
#handle fuel-type

In [ ]:
#handle price column

In [ ]:
#now run this, all numbers must be zero if you correctly replaced the missing values above
df.isna().sum()

## Visualization Questions with Seaborn

    - 1.Use "histplot" function to plot the distribution of ford models. This is the histogram plot that we discussed. Add the following arguments to your plot command to make it nicer. Your plot must look like "models_hist.png" file in "figures" folder.

            multiple = 'dodge',shrink = 0.6

In [ ]:
#1 comes here
plt.figure(figsize=(10,4))

    - 2. Based on the plot above, rank the models from highest count to lowest count

    - 3-Now, copy your previous code and add *hue = 'transmission'* option to  breakdown each model category into "transmission" types. Your figure must be same with "trans_model.png" in the "figures" folder

In [ ]:
#3 comes here
plt.figure(figsize=(12,6))

    4-Use "pairplot" function from Seaborn to display 'mileage','year against 'price. Use the following options. Your figure must be same with "pair_price.png" in the "figures" folder

               x_vars = ['mileage','year'], y_vars=['price'],height = 5

In [ ]:
#4 comes here

    5-Based on the plot above, do you see any relationship between 'year', 'mileage' vs 'price'. Explain briefly.

    6- We will do series of box plots. First of all, watch some tutorials to refresh your knowladge. Create a box plot regarding model vs price. Your figure must be same with "box_price.png in the "figures" folder.

In [ ]:
#6 comes here
plt.figure(figsize=(16,10))

    7-In the light of our discussion in the workshop, briefly interpret the figure. Which model appears to be the cheapest and the most expensive ones? How do you compare Fiesta and Ecosport models? Refer to median and quantiles concepts.

        8-Create a box plot regarding model vs fuelType. Your figure must be same with "box_fuel.png" in the "figures" folder.

In [ ]:
#8 comes here
plt.figure(figsize=(16,10))

    - 9- In the light of our discussion in the workshop, briefly interpret the figure. Which fuel type cars appears to be the cheapest and the most expensive ones? How do you compare Petrol and Hybrid types. Refer to median and quantiles concepts.

**Now, click *Kernel* button above and hit *Restart and Run All*. If everything runs smootly, you are ready to make your submission**